<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dao.CategoryMapper">
    <resultMap id="categoryResultMap" type="com.ohgiraffers.dto.CategoryDTO">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <insert id="insertCategory" parameterType="com.ohgiraffers.dto.CategoryDTO">
        insert into category (
        category_name
        ) values (
        #{ categoryName }
        )

    </insert>

    <select id="selectAllCategory" resultMap="categoryResultMap">
        select
        category_code,
        category_name
        from category
        order by category_code
    </select>

    <update id="updateCategory" parameterType="com.ohgiraffers.dto.CategoryDTO">
        update
        category
        set
        category_name = #{ categoryName }
        where
        category_code = #{ categoryCode }
    </update>


    <delete id="deleteCategory" parameterType="_int">
        delete
        from category
        where category_code = #{ categoryCode }
    </delete>

    <resultMap id="categoryProductResultMap" type="com.ohgiraffers.dto.CategoryProductDTO">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <collection property="proList" ofType="com.ohgiraffers.dto.ProductDTO">
            <id property="productCode" column="product_code"/>
            <result property="productName" column="product_name"/>
            <result property="categoryCode" column="category_code"/>
            <result property="productQuantity" column="product_quantity"/>
            <result property="productDetail" column="product_detail"/>
        </collection>
    </resultMap>

    <select id="selectProductByCategoryCode" resultMap="categoryProductResultMap">
        select
        *
        from product a
        left join category b on (a.category_code = b.category_code)
        where b.category_code = #{ categoryCode }
        order by a.category_code
    </select>

</mapper>
