<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dao.MemberMapper">
    <resultMap id="memberResultMap" type="com.ohgiraffers.dto.MemberDTO">
        <id property="memberId" column="member_id"/>
        <result property="memberPassword" column="member_password"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPhoneNumber" column="member_phone_number"/>
        <result property="memberIdentityNumber" column="member_identity_number"/>
        <result property="memberRegisteredDate" column="member_registered_date"/>
        <result property="memberEmail" column="member_email"/>
    </resultMap>

    <select id="selectLoginInfo" parameterType="hashmap" resultMap="memberResultMap">
        SELECT *
        FROM member
        WHERE member_id LIKE #{memberId} AND member_password LIKE #{memberPassword}
    </select>

    <insert id="insertMember" parameterType="hashmap">
        INSERT INTO member (member_id, member_password, member_name, member_phone_number, member_identity_number, member_registered_date, member_email)
        VALUES (#{memberId}, #{memberPassword}, #{memberName}, #{memberPhoneNumber}, #{memberIdentityNumber}, current_timestamp(), #{memberEmail})
    </insert>

    <select id="selectExistingId" parameterType="string" resultMap="memberResultMap">
        SELECT *
        FROM member
        WHERE member_id LIKE #{memberId}
    </select>

    <update id="updateMember" parameterType="hashmap">
        UPDATE member
        SET member_id = #{memberId},
            member_password = #{memberPassword},
            member_name = #{memberName},
            member_phone_number = #{memberPhoneNumber},
            member_identity_number = #{memberIdentityNumber},
            member_email = #{memberEmail}
        WHERE member_id = #{previousId}
    </update>

    <delete id="deleteMember" parameterType="string">
        DELETE
        FROM member
        WHERE member_id = #{memberId}
    </delete>

    <insert id="insertSeller" parameterType="string">
        INSERT INTO seller (member_id)
        VALUES (#{memberId})
    </insert>

    <insert id="insertAdministrator" parameterType="string">
        INSERT INTO administrator (member_id)
        VALUES (#{memberId})
    </insert>
</mapper>