<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dao.ProductMapper">

    <resultMap id="productResultMap" type="com.ohgiraffers.dto.ProductDTO">
        <id property="productCode" column="product_code"/>
        <result property="productName" column="product_Name"/>
        <result property="categoryCode" column="category_code"/>
        <result property="productQuantity" column="product_quantity"/>
        <result property="productDetail" column="product_detail"/>
    </resultMap>

    <insert id="insertProduct" parameterType="com.ohgiraffers.dto.ProductDTO">
        insert into product(
        product_code,
        product_name,
        category_code,
        product_quantity,
        product_detail
        )values(
        #{ productCode },
        #{ productName },
        #{ categoryCode },
        #{ productQuantity },
        #{ productDetail }
        )
    </insert>


    <delete id="deleteProduct" parameterType="com.ohgiraffers.dto.ProductDTO">
        delete
        from product
        where product_code = #{ productCode }
    </delete>

    <update id="updateProduct" parameterType="com.ohgiraffers.dto.ProductDTO">
        update product
        set
        product_code = #{ productCode },
        product_name = #{ productName },
        category_code = #{ categoryCode },
        product_quantity = #{ productQuantity },
        product_detail = #{ productDetail }
        where product_code = #{ productCode }
    </update>


    <select id="selectAllProduct" resultMap="productResultMap">
        select
        product_code,
        product_name,
        category_code,
        product_quantity,
        product_detail
        from product
    </select>

    <select id="selectProductByCode" parameterType="_int" resultMap="productResultMap">
        select
        product_code,
        product_name,
        category_code,
        product_quantity,
        product_detail
        from product
        where product_code = #{ productCode }
    </select>

</mapper>
