<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dao.ReviewMapper">
    <resultMap id="ReviewResultMap" type="com.ohgiraffers.dto.ReviewDTO">
        <id property="reviewId" column="review_id"/>
        <result property="rating" column="rating"/>
        <result property="orderId" column="order_id"/>
        <result property="reviewDetail" column="review_detail"/>
        <result property="productCode" column="product_code"/>
    </resultMap>

    <update id="updateReview" parameterType="com.ohgiraffers.dto.ReviewDTO">
        update
        review
        set
        rating = #{ rating }
        review_detail = #{ reviewDetail }
        where
        review_id = #{ reviewId }
    </update>

</mapper>